@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'myFont';
  src: url('../assets/Karla-Italic-VariableFont_wght.ttf') format('woff2'),
       url('../assets/Karla-VariableFont_wght.ttf') format('woff');
} */

:root {
  --background: #ffffff;
  --foreground: #e2f1e7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #e2f1e7;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
